body {
    font-size: 18px;
	font-family: times, garamond, georgia;
    color: white;
    background-color: teal;
	margin: 0;
	padding: 0;
	line-height: 150%;
}
header {
    color: white;
    background-color: #231F20;
    height: 5em;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    position: fixed;
}
.logo {
	height: 80%;
}
.brand {
    display: flex;
}
h1 {
    font-size: 45px;
	font-family: tahoma;
	font-style: bold;
    color: white;
	margin-top: 6px;
	padding: 0;
	line-height: 150%;
    letter-spacing: 4px;
}
nav {
	color: teal;
	padding: 1em;
	text-align: right;
    text-decoration: none;
}
a {
    text-decoration: none;
}
a:link {
	color: teal;
	padding: 1.1em;
	text-decoration: none;
	font-family: verdana;
}
a:visited {
	color: teal;
}
a:hover {
	color: rgb(101, 153, 153)
}
a:active {

}
.intro {
    margin-top: 5em;
    width: 100%;
}

h2 {
    font-size: 30px;
    font-family: helvetica, arial, verdana;
    letter-spacing: 8px;
    font-weight: lighter;
}
.margin {
    height: 10em;
}
.video {
    color: black;
    background-color: white;
	padding: 2em;
    width: 80%;
    margin: auto;

}

/*Music Page*/
.audio {
    color: black;
    background-color: white;
	padding: 2em;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.B {
    display: flex;
    justify-content: space-between;
}
.x{
    width: 48%;
}
.y{
    width: 48%;
}

.gallery {
    margin: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer {
    color: white;
    background-color: #231F20;
    text-align: center;
    margin: 0;
    margin-top: 7em;
    padding: 2em;
    height: 7em;
}

/*About Me*/
.AboutMe {
    margin: 2em;
    color: black;
    display: flex;
}
.makeitblack {
    color: black;
}
.left {
    margin: 2em;
}
.right {
    margin: 2em;
}

/*Contact*/
.ContactMe {
    margin: 2em;
    color: black;
}
